.nav-item {
  display: block;
  width: 100%;
  padding: 8px 8px;
  clear: both;
  color: black;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

}

.nav-item:hover {
  color: white !important;
  text-decoration: none;
}

input{
  width:80px;
}

#nav{
  width: 100vw;
  height: 12vh;
}

.flex{
  display: flex;
}

.w10{
  width:10%;
}
